/WaveFilterServer/dev/demos/QR/facebook.png
/WaveFilterServer/resources/Input_files_examples/EX.png
/WaveFilterServer/resources/Input_files_examples/Ex1.png
/WaveFilterServer/output/Ex7.dxf
/WaveFilterServer/output/Ex4.txt
/WaveFilterServer/dev/demos/QR/static_qr_code_without_logo.jpg
/WaveFilterServer/resources/Input_files_examples/Ex6.png
/WaveFilterServer/output/Ex3.dxf
/WaveFilterServer/output/Ex5.txt
/WaveFilterServer/resources/Output files examples/Ex1.jpg
/WaveFilterServer/dev/demos/QR/code.dxf
/WaveFilterServer/resources/Input_files_examples/Ex5.png
/WaveFilterServer/dev/demos/QR/facebook.dxf
/WaveFilterServer/resources/Input_files_examples/ctrl c.txt
/WaveFilterServer/requestsDemo
/WaveFilterServer/dev/demos/QR/youtube.gif
/WaveFilterServer/dev/demos/QR/static_qr_code_without_logo.dxf
/WaveFilterServer/resources/Input_files_examples/Ex3.png
/WaveFilterServer/output/Ex4.dxf
/WaveFilterServer/output/Ex7.txt
/WaveFilterServer/resources/Input_files_examples/Ex4.png
/WaveFilterServer/output/Ex5.dxf
/WaveFilterServer/dev/demos/QR/youtube.dxf
/WaveFilterServer/resources/Input_files_examples/Ex7.png
/WaveFilterServer/output/Ex3.txt
/WaveFilterServer/dev/demos/QR/QRcode.dxf
/WaveFilterServer/resources/Input_files_examples/Ex2.png
/WaveFilterServer/resources/Output files examples/Ex3.jpg
/WaveFilterServer/dev/demos/QR/code.png